<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
    scan="true"
    scanPeriod="5 seconds"
    >
    
    <property name="defaultAppender" value="console" />
    <property name="defaultLevel" value="INFO" />
    <property name="defaultFormat" value="%d{HH:mm:ss} %-5level %logger - %msg%n" />
    <property name="shortFormat" value="%-5level %logger %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${defaultFormat}
            </pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>groovaApp.log</file>
        <encoder>
            <pattern>
                ${defaultFormat}
            </pattern>
        </encoder>
    </appender>


    <logger name="me.smulyono.learn.groova.groovaWeb" additivity="false"
        level="debug">
        <appender-ref ref="${defaultAppender}" />
    </logger>

    <logger name="org.apache.wink" additivity="false"
        level="debug">
        <appender-ref ref="${defaultAppender}" />
    </logger>

    <root level="${defaultLevel}">
        <appender-ref ref="${defaultAppender}" />
    </root>
</configuration>